@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* estilo geral */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #586958;
  height: 100vh;
}
.interface {
  max-width: 1280px;
  margin: 0 auto;
}
.flex {
  display: flex;
}
h2.titulo{
    color:#E9DCCE;
    font-size: 48px;
    text-align: center;
}
h2.titulo span{
    color:#3C433C ;
}
/* estilo do cabeçalho */
header {
  font-family: "Poppins", sans-serif;
  padding: 40px 4%;
}
header > .interface {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 300;
  font-size: 24px;
}
header a {
  color: #E9DCCE;
  font-style: italic;
  text-decoration: none;
  display: inline-block;
  transition: 1.05s;
}
header a:hover {
  color: white;
  transform: scale(1.1);
}
header nav ul {
  list-style: none;
}
header nav ul li {
  display: inline-block;
  padding: 0 52px;
}
.logo {
  align-items: center;
  display: flex;
}
.caio {
  margin: 7.99px;
}
/* estilo do topo */
section.topo-do-site {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 150px 4%;
  margin: 50px 14%;
  border-radius: 14px;
  background: var(--Cor-fundo, #E0D5C9);
  width: 1329px;
  height: 561px;
  flex-shrink: 0;
}
section.topo-do-site .flex {
  align-items: center;
  justify-content: center;
  gap: 90px;
}
.topo-do-site .txt-topo-site h1 {
  color: #000;
  font-family: Poppins;
  font-size: 64px;
  font-style: italic;
  line-height: 120%;
  font-weight: 300;
}
.topo-do-site .txt-topo-site p {
  color: #353d35;
  text-align: justify;
  font-family: Poppins;
  margin: 40px 0;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: 120%;
}
button {
  color: #e8dfca;
  font-family: Poppins;
  font-style: italic;
  font-size: 18px;
  font-weight: 700;
  line-height: 120%;
  background-color: #353d35;
  border: none;
  border-radius: 400px;
  width: 241px;
  height: 62px;
  padding: 20px 40px;
  gap: 12px;
  cursor: pointer;
}
button:hover {
  background-color: white;
  color: #353d35;
  transition: 1s;
}
/* estilo das especialidade */
section.especialidades{
    padding:40px 4%;
}
.flex{
    gap: 60px;
    margin-top: 45px;
}
.especialidade-box{
    color:#E9DCCE;
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
    
}
.especialidade-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 8px #e0d5c95b;
}
.especialidade-box i{
    font-size: 78px;
    color: #353d35 ;
}
.especialidade-box h3{
    font-size: 48px;
    margin:15px 0;
}
